* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body1 {
    margin: 0 auto;
    line-height: 1.7em;
}
.content1 {
    padding-top: 2em;
}
.l-box1 {
    padding: 1em;
}
.header1 {
    margin: 0 0;
}
.header1 .pure-menu {
    padding: 0.5em;
}
.header1 .pure-menu li a:hover,
.header1 .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}
body1 .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash1 {
    margin: 0 auto;
    padding: 1.5em 1em 0;
    background: #eee;
}
.splash1 .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash1 .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash1 .primary-button {
    font-size: 150%;
}
.content1 .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content1 .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}
.ribbon1 {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon1 h2 {
    display: inline;
    font-weight: normal;
}
.foote {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
